<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/test.css">
</head>
<body>
 <% for(var person of array) { %>
    <p>Name: <%= person.first_Name %> <%= person.middle_Name %> <%= person.last_Name %></p>
    <p>Student number: <%= person.student_Number %></p>
    <p>Student mail: <%= person.student_Mail %></p>
    <p>Program: <%= person.program %></p>
    <p>Password: <%= person.password %></p>
    <p>Academic level: <%= person.academic_Level%></p>
    <% } %>
</body>
</html>
