<body>
 <% for(var person of array) { %>
    <p>Name: <%= person.first_Name %><%= person.middle_Name %><%= person.last_Name %></p>
    <p>Student number: <%= person.studentnumber %></p>
    <p>Student mail: <%= person.student_Mail %></p>
    <p>Program: <%= person.program %></p>
    <p>Password: <%= person.password %></p>
    <% } %>
</body>
