<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for the course Imperative programming">
    <title>Universiteit Utrecht</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
      <link rel="stylesheet" type="text/css" href="../public/stylesheets/zoekpagina.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../public/javascripts/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <header class="header">
      <img class="header__image" src="../public/images/logo-nl.svg" alt="Universtity Utrcht logo">
      <img class="header__image--mobile" src="../public/images/logo_compact.png" alt="Universtity Utrcht logo">
    <form class="searching-tools" action="/zoeken" method="post">
      <input class="search-container" type="text" placeholder="zoeken.." name="search">
      <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <section class="header__user">
        <img class="header__loginimage" src="../public/images/unnamed.png">
        <h4 class="header__username">
            <%= username %>
        </h4>
    </section>
    </header>
    <nav class="menu">
    <ul class="menu__outerunorderdlist">
        <li class="menu__outerlist">
            <ul class="menu__outerunorderdlist">
                <li class="menu__innerlist"><a class="menu__link" href="/">Home</a></li>
                <li class="menu__innerlist"><a class="menu__link" href="">Beacholor</a>
                    <ul class="menu__submenu">
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Aarde en Duurzaamheid</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Bredere opleidingen</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Beta</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Gedrag en Maatschappij</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Gezondheid van Mens en Dier</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Media, kunt, Cultuur en Gescheidenis</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Recht, Economie en Bestuur</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Relgie en Filosofie</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Talen en Communicatie</a></li>
                    </ul>
                </li>
                <li class="menu__innerlist"><a class="menu__link" href="">Master</a>
                    <ul class="menu__submenu">
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Aarde en Duurzaamheid</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Economie, Bestuur en Organisatie</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Filosofie en Religiewetenschappen</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Gezondheid van Mens en Dier</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Media, kunt, Cultuur en Gescheidenis</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Natuurwetenschappen</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Onderwijs</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Rechten</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Sociale en Gedragswetenschappen</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Talen, Literatuur en Communicatie</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Wiskunde en Informatiewetenschappen</a></li>
                    </ul>
                </li>
                <li class="menu__innerlist"><a class="menu__link" href="">Extra mogelijkheden</a>
                    <ul class="menu__submenu">
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Honours</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Da Vince Project</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Descartes College</a></li>
                        <li class="menu__innerlist1"><a class="menu__innerlink" href="">Exchange</a></li>
                    </ul>
                </li>
                <li class="menu__innerlist"><a class="menu__link" href="/test">Contact</a></li>
            </ul>
        </li>
        <li class="menu__outerlist1">
                <ul class="menu__outerlist">
                <% if(showLogin) { %>
                <li class="menu__innerlist" onclick="openLogin()"><a class="menu__login" href="#">Inloggen</a></li>
                 <% }else{ %>
                <li class="menu__innerlist" onclick=""><a class="menu__acount" href="/acount">Account</a></li>
                <form class="menu__innerlist" action="/logout" method="get">
                    <button class="menu__logout" type="submit">Uitloggen</button>
                </form>
                <% } %>
            </ul>
        </li>
    </ul>
    </nav>
            <section class="login" id="login">
	       <div class="login__text">Student Login</div>
	       <form action="/login" method="post">
    	       <input type="text" name="username" placeholder="Username" data-icon="U">
               <input type="password" name="password" placeholder="Password" data-icon="x">
            <div class="login__forgot">
            <div class="login__forgottext"><a href="/register" title="Register">Register</a></div>
            <div class="login__forgottext"><a href="/register" title="Forgot Password">Fotgot Password?</a></div>
            </div>
            <button class="login__button" type="submit">Submit</button>
            </form>
      </section>
      <section>
          <form class="main main__sectionInner" action="/zoeken" method="post">
              <input class="search-container1 search-container input" type="text" placeholder="<%= defaultValue %>"  value="<%= searchValue %>" name="search">
               <div class="mainSection__div">
                <h6 class="naam__text">Studie programma</h6>
                <div class="login-box__selsction" id="login-box__selsction1">
                <div class="select__arrow"></div>
                </div>
		        </div>
              <div class="mainSection__div">
                <h6 class="naam__text">Niveau</h6>
                <div class="login-box__selsction" id="login-box__selsction">
                <div class="select__arrow"></div>
                </div>
                </div>
              <div class="mainSection__div">
                <h6 class="naam__text">Semester</h6>
                <div class="login-box__selsction" id="login-box__selsction2">
                <div class="select__arrow"></div>
                </div>
                </div>
              <button class="search-button" type="submit">Search <i class="fa fa-search"></i></button>
          </form>
          <section class="main main__sectionInner1">
              <% for(var course of array) { %>
              <form class="main__courses" action="/goToCourse" method="post">
                <div class="courses__align">
                    <h3 class="title title2"><%= course.title %></h3>
                  <h4 class="title title1"><%= course.program %></h4>
                  <h5 class="title"><%= course.academic_Level %></h5>
                  <h5 class="title title1"><%= course.semester %></h5>
                  <p class="title"><%= course.description %></p>
                  </div>
                  <div class="courses__align">
                      <button class="courseButton" type="submit" name="courseButton" value="<%= course.course_Number %>">Ga naar cursus</button>
                  </div>
              </form>
              <% } %>
              </section>
      </section>
    <footer class="footer">
      Webtech Assigment 3
      <p>
        Source: <a class="footer__link" href="https://www.uu.nl/onderwijs" target="_blank">Universiteit Utrecht | Onderwijs</a>
      </p>
    </footer>
  </body>
</html>
